<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message">Bienvenido </span>
      </li>
<!--      <li><i class="fa fa-sign-out"></i></li>-->
<!--      <li> <%#= link_to t('all.logout'), destroy_user_session_path, method: :delete %>-->
      <li>
        <a class="right-sidebar-toggle">
        </a>
      </li>
    </ul>
  </nav>
</div>