<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h1>Mostrar Cuenta</h1>
          <div align="center">
            <strong>Numero cuenta:</strong>
            <%= @account.Numero_Cuenta %>
            </p>

            <p>
              <strong>Pertenece a:</strong>
              <%= @account.Pertenece_A %>
            </p>
          </div>
          <div class="row">
          <div id="botones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + "Editar", edit_account_path(@account), :class => 'btn btn-xs btn-primary btx' %>
            <%= link_to '<span class="fa fa-users" ></span> '.html_safe + "Volver", accounts_path, :class => 'btn btn-xs btn-warning btx' %>
          </div>
        </div>

        <%# <%****************************** Body *********************************** %>
      </div>
    </div>
  </div>
</div>
</div>





